apiVersion: apps/v1
kind: Deployment
metadata:
  name: joycrew-backend-deployment
  labels:
    app: joycrew-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: joycrew-backend
  template:
    metadata:
      labels:
        app: joycrew-backend
    spec:
      # cluster.yml에서 생성한 서비스 계정 이름과 일치해야 함
      serviceAccountName: joycrew-service-account
      containers:
        - name: backend-container
          image: "566105751077.dkr.ecr.ap-northeast-2.amazonaws.com/joycrew-backend:latest"
          ports:
            - containerPort: 8082

          # AWS Secrets Manager에서 가져온 값을 환경변수로 주입
          envFrom:
            - secretRef:
                name: joycrew-k8s-secret

          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
            - name: SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT
              value: "20000"
            - name: SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE
              value: "5"

          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "1000m"

          readinessProbe:
            httpGet:
              path: /
              port: 8082
            initialDelaySeconds: 40
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8082
            initialDelaySeconds: 90
            periodSeconds: 20